@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizing the scrollbar */

/* For Webkit-based browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  display: block;
  background: #41414194;
  border-radius: 10px;
}

.text-shadow{
  text-shadow: 0px 0px 10px #d2c6c6;
}